@inject NavigationManager MyNavigationManager

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DigitalerTest</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="SucheAktivenLink">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @i
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="@id_Beziehungsfragen" href="Beziehungsfrage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Beziehungsfragen
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="@id_Entscheidungsfragen" href="Entscheidungsfragen">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Entscheidungsfragen
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="@id_MathematischeKenntisse" href="MathematischeKenntnisse">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mathematische Kenntnisse
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="@id_Rechtschreibung" href="Rechtschreibung">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Rechtschreibung
            </NavLink>
        </li>
    </ul>
</div>

@code {
    public int i;

    private bool collapseNavMenu = true;
    public string id_Rechtschreibung = "";
    public string id_Beziehungsfragen = "";
    public string id_Entscheidungsfragen = "";
    public string id_MathematischeKenntisse = "";

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void SucheAktivenLink()
    {
        string temp = "";
        temp = MyNavigationManager.Uri;

        switch (temp)
        {
            case "https://localhost:44321/Rechtschreibung":
                id_Rechtschreibung = "active";
                id_Beziehungsfragen = "disabled";
                id_Entscheidungsfragen = "disabled";
                id_MathematischeKenntisse = "disabled";
                break;

            case "https://localhost:44321/Beziehungsfragen":
                id_Rechtschreibung = "disabled";
                id_Beziehungsfragen = "active";
                id_Entscheidungsfragen = "disabled";
                id_MathematischeKenntisse = "disabled";
                break;

            case "https://localhost:44321/Entscheidungsfragen":
                id_Rechtschreibung = "disabled";
                id_Beziehungsfragen = "disabled";
                id_Entscheidungsfragen = "active";
                id_MathematischeKenntisse = "disabled";
                break;

            case "https://localhost:44321/MathematischeKenntnisse":
                id_Rechtschreibung = "disabled";
                id_Beziehungsfragen = "disabled";
                id_Entscheidungsfragen = "disabled";
                id_MathematischeKenntisse = "active";
                break;
        }
    }

    protected override void OnInitialized()
    {
        MyNavigationManager.LocationChanged += OnLocationChanges;
    }

    private void OnLocationChanges(object sender, LocationChangedEventArgs e)
    {

    }

}
